html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}audio,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:0 0}a:active,a:hover{outline:0}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}img{border:0}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=submit]{-webkit-appearance:button;cursor:pointer;box-sizing:border-box}input[type=text]{box-sizing:border-box}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}textarea{overflow:auto;box-sizing:border-box;border-color:#ddd}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
body,div{font-size:0;}
p,h1,h2,h3,h4,h5,h6{margin:0;word-spacing:normal;word-wrap:break-word;pointer-events:auto;}
ul{list-style-type:none;-moz-padding-start:0;-khtml-padding-start:0;-webkit-padding-start:0;-o-padding-start:0;-padding-start:0;-webkit-margin-before:0;-webkit-margin-after:0;}
li p{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select::none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}
form{display:inline-block;}
a{text-decoration:inherit;color:inherit;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.whitespacefix{word-spacing:-1px;}
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.menu-content {
	cursor: pointer;
	position: relative;
}

li {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.animated{-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
@-webkit-keyframes bounceIn{from,20%,40%,60%,80%,to{-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000)}0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}20%{-webkit-transform:scale3d(1.1,1.1,1.1)}40%{-webkit-transform:scale3d(.9,.9,.9)}60%{opacity:1;-webkit-transform:scale3d(1.03,1.03,1.03)}80%{-webkit-transform:scale3d(.97,.97,.97)}to{opacity:1;-webkit-transform:scale3d(1,1,1)}}@keyframes bounceIn{from,20%,40%,60%,80%,to{animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000)}0%{opacity:0;transform:scale3d(.3,.3,.3)}20%{transform:scale3d(1.1,1.1,1.1)}40%{transform:scale3d(.9,.9,.9)}60%{opacity:1;transform:scale3d(1.03,1.03,1.03)}80%{transform:scale3d(.97,.97,.97)}to{opacity:1;transform:scale3d(1,1,1)}}.bounceIn{-webkit-animation-name:bounceIn;animation-name:bounceIn}
@-webkit-keyframes zoomIn{from{opacity:0;-webkit-transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{from{opacity:0;transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
@-webkit-keyframes lightSpeedIn{from{-webkit-transform:translate3d(100%,0,0) skewX(-30deg);opacity:0}60%{-webkit-transform:skewX(20deg);opacity:1}80%{-webkit-transform:skewX(-5deg);opacity:1}to{-webkit-transform:none;opacity:1}}@keyframes lightSpeedIn{from{transform:translate3d(100%,0,0) skewX(-30deg);opacity:0}60%{transform:skewX(20deg);opacity:1}80%{transform:skewX(-5deg);opacity:1}to{transform:none;opacity:1}}.lightSpeedIn{-webkit-animation-name:lightSpeedIn;animation-name:lightSpeedIn;-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}
@-webkit-keyframes slideInRight{from{-webkit-transform:translate3d(100%,0,0);visibility:visible}to{-webkit-transform:translate3d(0,0,0)}}@keyframes slideInRight{from{transform:translate3d(100%,0,0);visibility:visible}to{transform:translate3d(0,0,0)}}.slideInRight{-webkit-animation-name:slideInRight;animation-name:slideInRight}
@-webkit-keyframes flip{from{-webkit-transform:perspective(400px) rotate3d(0,1,0,-360deg);-webkit-animation-timing-function:ease-out}40%{-webkit-transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);-webkit-animation-timing-function:ease-out}50%{-webkit-transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);-webkit-animation-timing-function:ease-in}80%{-webkit-transform:perspective(400px) scale3d(.95,.95,.95);-webkit-animation-timing-function:ease-in}to{-webkit-transform:perspective(400px);-webkit-animation-timing-function:ease-in}}@keyframes flip{from{transform:perspective(400px) rotate3d(0,1,0,-360deg);animation-timing-function:ease-out}40%{transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-190deg);animation-timing-function:ease-out}50%{transform:perspective(400px) translate3d(0,0,150px) rotate3d(0,1,0,-170deg);animation-timing-function:ease-in}80%{transform:perspective(400px) scale3d(.95,.95,.95);animation-timing-function:ease-in}to{transform:perspective(400px);animation-timing-function:ease-in}}.animated.flip{backface-visibility:visible;-webkit-animation-name:flip;animation-name:flip}
@-webkit-keyframes rubberBand{from{-webkit-transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(1.25,0.75,1)}40%{-webkit-transform:scale3d(0.75,1.25,1)}50%{-webkit-transform:scale3d(1.15,0.85,1)}65%{-webkit-transform:scale3d(.95,1.05,1)}75%{-webkit-transform:scale3d(1.05,.95,1)}to{-webkit-transform:scale3d(1,1,1)}}@keyframes rubberBand{from{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,0.75,1)}40%{transform:scale3d(0.75,1.25,1)}50%{transform:scale3d(1.15,0.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}to{transform:scale3d(1,1,1)}}.rubberBand{-webkit-animation-name:rubberBand;animation-name:rubberBand}
@-webkit-keyframes rotateInUpLeft{from{-webkit-transform-origin:left bottom;-webkit-transform:rotate3d(0,0,1,45deg);opacity:0}to{-webkit-transform-origin:left bottom;-webkit-transform:none;opacity:1}}@keyframes rotateInUpLeft{from{transform-origin:left bottom;transform:rotate3d(0,0,1,45deg);opacity:0}to{transform-origin:left bottom;transform:none;opacity:1}}.rotateInUpLeft{-webkit-animation-name:rotateInUpLeft;animation-name:rotateInUpLeft}
@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0,100%,0)}to{opacity:1;-webkit-transform:none}}@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0)}to{opacity:1;transform:none}}.fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
@-webkit-keyframes pulse{from{-webkit-transform:scale3d(1,1,1)}50%{-webkit-transform:scale3d(1.05,1.05,1.05)}to{-webkit-transform:scale3d(1,1,1)}}@keyframes pulse{from{transform:scale3d(1,1,1)}50%{transform:scale3d(1.05,1.05,1.05)}to{transform:scale3d(1,1,1)}}.pulse{-webkit-animation-name:pulse;animation-name:pulse}
#body{background-color:rgb(229,124,46);}
.vis{display:block;vertical-align:top;}
.pos{margin-top:292px;top:0;position:-webkit-sticky;position:-moz-sticky;position:-o-sticky;position:-ms-sticky;position:sticky;}
.size{width:100%;min-width:960px;min-height:47px;}
.cont{z-index:23;pointer-events:none;}
.vis-2{display:inline-block;vertical-align:top;}
.pos-2{position:relative;margin-top:0;}
.size-2{width:100%;min-width:960px;min-height:47px;height:47px;}
.cont-2{z-index:24;border:0;background-color:transparent;}
.pos-3{position:relative;margin-top:-30px;}
.vis-3{display:block;}
.section{min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.vis-4{display:inline-block;vertical-align:top;overflow:visible;}
.pos-4{position:relative;margin-left:203px;margin-top:0;}
.size-3{min-width:746px;width:746px;min-height:30px;height:30px;}
.cont-3{z-index:25;pointer-events:auto;}
.vis-5{display:inline-block;vertical-align:top;}
.pos-5{position:relative;margin-left:0;margin-top:0;}
.menu{padding:0px 0px 0px 0px;}
.menu-link{outline:0;}
.size-4{min-width:182px;width:182px;min-height:30px;height:30px;}
.menu-content-vis{display:inline-block;}
.size-5{min-width:182px;width:182px;min-height:30px;}
.cont-4{pointer-events:none;border:0;border-radius:3px 3px 0 0;background-color:rgb(255,255,255);}
.pos-6{position:relative;margin-left:0;margin-top:0;}
.size-6{min-width:182px;width:182px;min-height:29px;}
.cont-5{pointer-events:auto;}
.para{padding-top:0;text-indent:0;margin-top:0.86pt;margin-bottom:-0.86pt;padding-right:0;text-align:center;}
.font{font-family:"Istok Web";font-size:12.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(229,124,46);line-height:19.00pt;letter-spacing:normal;}
.pos-7{position:relative;margin-left:6px;margin-top:0;}
.pos-8{position:relative;margin-top:-339px;}
.size-7{width:100%;min-width:960px;min-height:339px;}
.cont-6{z-index:1;pointer-events:none;border:0;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(229,124,46)), color-stop(1, rgb(208,105,45)));background-image:-o-linear-gradient(bottom, rgb(229,124,46) 0%, rgb(208,105,45) 100%);background-image:-webkit-linear-gradient(bottom, rgb(229,124,46) 0%, rgb(208,105,45) 100%);background-image:-ms-linear-gradient(bottom, rgb(229,124,46) 0%, rgb(208,105,45) 100%);background-image:linear-gradient(to bottom, rgb(229,124,46) 0%, rgb(208,105,45) 100%);background-clip:padding-box;}
.pos-9{position:relative;margin-top:82px;}
.pos-10{position:relative;margin-left:3px;margin-top:0;}
.size-8{min-width:950px;width:950px;min-height:210px;}
.pos-11{position:relative;margin-left:0;margin-top:0;}
.size-9{min-width:235px;width:235px;min-height:210px;height:210px;}
.cont-8{z-index:4;pointer-events:auto;}
.img{position:absolute;left:0;width:235px;height:210px;top:0;}
.pos-12{position:relative;margin-left:49px;margin-top:31px;}
.size-10{min-width:666px;width:666px;min-height:115px;}
.cont-9{z-index:5;pointer-events:auto;}
.para-2{padding-top:0;text-indent:0;margin-top:2.91pt;margin-bottom:-2.91pt;padding-right:0;text-align:center;}
.font-2{font-family:"PT Sans";font-size:22.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:34.94pt;letter-spacing:normal;}
.font-3{font-family:"PT Sans";font-size:34.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:53.57pt;letter-spacing:normal;}
.pos-13{position:relative;margin-top:80px;}
.section-2{pointer-events:none;min-width:960px;width:960px;margin-left:auto;margin-right:auto;}
.pos-14{position:relative;margin-left:9px;margin-top:0;}
.size-11{min-width:942px;width:942px;min-height:156px;}
.cont-10{z-index:2;pointer-events:auto;}
.para-3{padding-top:0;text-indent:0;margin-top:0;margin-bottom:0;padding-right:0;text-align:justify;}
.font-4{font-family:"Istok Web";font-size:11.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:16.19pt;letter-spacing:normal;}
.font-5{font-family:"Istok Web";font-size:17.25pt;font-weight:700;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:24.83pt;letter-spacing:normal;}
.pos-15{position:relative;margin-left:0;margin-top:169px;}
.size-12{min-width:1px;width:1px;min-height:1px;}
.pos-16{position:relative;margin-top:46px;}
.size-13{width:100%;min-width:960px;min-height:497px;}
.cont-11{z-index:3;pointer-events:none;border:0;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(208,105,45)), color-stop(1, rgb(229,124,46)));background-image:-o-linear-gradient(bottom, rgb(208,105,45) 0%, rgb(229,124,46) 100%);background-image:-webkit-linear-gradient(bottom, rgb(208,105,45) 0%, rgb(229,124,46) 100%);background-image:-ms-linear-gradient(bottom, rgb(208,105,45) 0%, rgb(229,124,46) 100%);background-image:linear-gradient(to bottom, rgb(208,105,45) 0%, rgb(229,124,46) 100%);background-clip:padding-box;}
.pos-17{position:relative;margin-top:87px;}
.pos-18{position:relative;margin-left:313px;margin-top:0;}
.size-14{min-width:600px;width:600px;min-height:67px;}
.cont-12{z-index:7;pointer-events:auto;}
.para-4{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.font-6{font-family:"PT Sans";font-size:34.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:44.64pt;letter-spacing:normal;}
.pos-19{position:relative;margin-top:-410px;}
.pos-20{position:relative;margin-left:0;margin-top:0;}
.size-15{min-width:913px;width:913px;min-height:367px;}
.pos-21{position:relative;margin-left:0;margin-top:0;}
.size-16{min-width:247px;width:247px;min-height:237px;height:237px;}
.cont-13{z-index:9;pointer-events:auto;}
.img-2{position:absolute;left:5px;width:237px;height:237px;top:0;}
.pos-22{position:relative;margin-left:66px;margin-top:102px;}
.size-17{min-width:600px;width:600px;min-height:265px;}
.cont-14{z-index:8;pointer-events:auto;}
.para-5{padding-top:0;text-indent:0;margin-top:0;margin-bottom:0;padding-right:0;text-align:left;}
.font-7{font-family:"PT Sans";font-size:22.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:29.12pt;letter-spacing:normal;}
.font-8{font-family:"Istok Web";font-size:11.25pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:19.43pt;letter-spacing:normal;}
.pos-23{position:relative;margin-left:0;margin-top:278px;}
.pos-24{position:relative;margin-top:46px;}
.size-18{width:100%;min-width:960px;min-height:604px;}
.cont-15{z-index:6;pointer-events:none;border:0;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(208,105,45)), color-stop(1, rgb(229,124,46)));background-image:-o-linear-gradient(bottom, rgb(208,105,45) 0%, rgb(229,124,46) 100%);background-image:-webkit-linear-gradient(bottom, rgb(208,105,45) 0%, rgb(229,124,46) 100%);background-image:-ms-linear-gradient(bottom, rgb(208,105,45) 0%, rgb(229,124,46) 100%);background-image:linear-gradient(to bottom, rgb(208,105,45) 0%, rgb(229,124,46) 100%);background-clip:padding-box;}
.pos-25{position:relative;margin-top:15px;}
.pos-26{position:relative;margin-left:0;margin-top:0;}
.size-19{min-width:960px;width:960px;min-height:263px;}
.pos-27{position:relative;margin-left:0;margin-top:74px;}
.size-20{min-width:233px;width:233px;min-height:189px;height:189px;}
.cont-16{z-index:11;pointer-events:auto;}
.img-3{position:absolute;left:22px;width:189px;height:189px;top:0;}
.pos-28{position:relative;margin-left:0;margin-top:154px;}
.size-21{min-width:47px;width:47px;min-height:60px;}
.cont-17{z-index:13;pointer-events:auto;}
.para-6{padding-top:0;text-indent:0;padding-right:0;text-align:left;}
.pos-29{position:relative;margin-left:7px;margin-top:0;}
.size-22{min-width:673px;width:673px;min-height:248px;}
.colwrapper{line-height:0;}
.pos-30{position:relative;margin-left:66px;margin-top:0;}
.size-23{min-width:607px;width:607px;min-height:106px;}
.cont-18{z-index:12;pointer-events:auto;}
.para-7{padding-top:0;text-indent:0;padding-right:0;text-align:right;}
.font-9{font-family:"PT Sans";font-size:34.50pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:44.64pt;letter-spacing:normal;}
.font-10{font-family:"PT Sans";font-size:9.00pt;font-weight:400;font-style:normal;text-decoration:none;color:rgb(255,255,255);line-height:11.65pt;letter-spacing:normal;}
.pos-31{position:relative;margin-left:0;margin-top:48px;}
.size-24{min-width:673px;width:673px;min-height:94px;}
.pos-32{position:relative;margin-top:-326px;}
.pos-33{position:relative;margin-left:233px;margin-top:0;}
.size-25{min-width:727px;width:727px;min-height:81px;}
.pos-34{position:relative;margin-left:0;margin-top:2px;}
.size-26{min-width:41px;width:41px;min-height:60px;}
.cont-19{z-index:15;pointer-events:auto;}
.pos-35{position:relative;margin-left:13px;margin-top:0;}
.size-27{min-width:673px;width:673px;min-height:81px;}
.cont-20{z-index:16;pointer-events:auto;}
.pos-36{position:relative;margin-left:233px;margin-top:20px;}
.size-28{min-width:727px;width:727px;min-height:112px;}
.size-29{min-width:40px;width:40px;min-height:60px;}
.cont-21{z-index:17;pointer-events:auto;}
.pos-37{position:relative;margin-left:14px;margin-top:0;}
.size-30{min-width:673px;width:673px;min-height:112px;}
.cont-22{z-index:18;pointer-events:auto;}
.pos-38{position:relative;margin-left:0;margin-top:248px;}
.pos-39{position:relative;margin-top:45px;}
.size-31{width:100%;min-width:960px;min-height:497px;}
.cont-23{z-index:10;pointer-events:none;border:0;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(208,105,45)), color-stop(1, rgb(229,124,46)));background-image:-o-linear-gradient(bottom, rgb(208,105,45) 0%, rgb(229,124,46) 100%);background-image:-webkit-linear-gradient(bottom, rgb(208,105,45) 0%, rgb(229,124,46) 100%);background-image:-ms-linear-gradient(bottom, rgb(208,105,45) 0%, rgb(229,124,46) 100%);background-image:linear-gradient(to bottom, rgb(208,105,45) 0%, rgb(229,124,46) 100%);background-clip:padding-box;}
.pos-40{position:relative;margin-top:52px;}
.pos-41{position:relative;margin-left:593px;margin-top:0;}
.size-32{min-width:356px;width:356px;min-height:68px;}
.cont-24{z-index:20;pointer-events:auto;}
.pos-42{position:relative;margin-left:4px;margin-top:51px;}
.size-33{min-width:233px;width:233px;min-height:225px;height:225px;}
.cont-25{z-index:19;pointer-events:auto;}
.img-4{position:absolute;left:4px;width:225px;height:225px;top:0;}
.pos-43{position:relative;margin-top:-326px;}
.pos-44{position:relative;margin-left:289px;margin-top:0;}
.size-34{min-width:662px;width:662px;min-height:232px;}
.cont-26{z-index:21;pointer-events:auto;}
.pos-45{position:relative;margin-left:753px;margin-top:0;}
.size-35{min-width:207px;width:207px;min-height:155px;height:155px;}
.cont-27{z-index:22;pointer-events:auto;}
.img-5{position:absolute;left:26px;width:155px;height:155px;top:0;}
.pos-46{position:relative;margin-top:63px;}
.size-36{width:100%;min-width:960px;min-height:222px;height:222px;}
.cont-28{z-index:26;pointer-events:none;border:0;background-color:transparent;}
.menu-device{background-color:rgb(0,0,0);display:none;}
@media (min-width:480px) and (max-width:959px) {
.pos{margin-top:100px;}
.size{min-width:480px;min-height:40px;}
.size-2{min-width:480px;min-height:24px;height:24px;}
.pos-3{margin-top:-20px;}
.section{min-width:480px;width:480px;}
.pos-4{margin-left:0;}
.size-3{min-width:474px;width:474px;min-height:36px;height:36px;}
.size-4{min-width:117px;width:117px;min-height:36px;height:36px;}
.size-5{min-width:117px;width:117px;min-height:36px;}
.pos-6{margin-top:6px;}
.size-6{min-width:117px;width:117px;min-height:24px;}
.para{margin-top:0.70pt;margin-bottom:-0.70pt;}
.font{font-size:9.75pt;line-height:15.44pt;}
.pos-7{margin-left:2px;}
.pos-8{margin-top:-140px;}
.size-7{min-width:480px;min-height:140px;}
.pos-9{margin-top:0;}
.pos-10{margin-left:5px;}
.size-8{min-width:475px;width:475px;min-height:100px;}
.size-9{min-width:131px;width:131px;min-height:100px;height:100px;}
.img{width:131px;height:100px;}
.pos-12{margin-left:0;margin-top:8px;}
.size-10{min-width:344px;width:344px;min-height:77px;}
.para-2{margin-top:1.75pt;margin-bottom:-1.75pt;}
.font-2{font-size:13.50pt;line-height:20.96pt;}
.font-3{font-size:18.00pt;line-height:27.95pt;}
.pos-13{margin-top:19px;}
.section-2{min-width:480px;width:480px;}
.pos-14{margin-left:5px;}
.size-11{min-width:468px;width:468px;min-height:137px;}
.font-4{font-size:10.50pt;line-height:15.11pt;}
.font-5{font-size:12.00pt;line-height:17.27pt;}
.pos-15{margin-top:49px;}
.pos-16{margin-top:39px;}
.size-13{min-width:480px;min-height:248px;}
.pos-17{margin-top:8px;}
.pos-18{margin-left:8px;}
.size-14{min-width:364px;width:364px;min-height:43px;}
.para-4{margin-top:2.33pt;margin-bottom:-2.33pt;}
.font-6{font-size:18.00pt;line-height:27.95pt;}
.pos-19{margin-top:-240px;}
.pos-20{margin-left:8px;}
.size-15{min-width:467px;width:467px;min-height:287px;}
.pos-21{margin-left:313px;}
.size-16{min-width:154px;width:154px;min-height:85px;height:85px;}
.img-2{left:35px;width:85px;height:85px;}
.pos-22{margin-left:0;margin-top:-42px;}
.size-17{min-width:454px;width:454px;min-height:244px;}
.para-5{text-align:justify;}
.font-7{font-size:13.50pt;line-height:20.96pt;}
.font-8{font-size:10.50pt;line-height:15.11pt;}
.pos-23{margin-top:54px;}
.pos-24{margin-top:40px;}
.size-18{min-width:480px;min-height:303px;}
.pos-25{margin-top:21px;}
.pos-26{margin-left:7px;}
.size-19{min-width:466px;width:466px;min-height:119px;}
.pos-27{margin-top:0;}
.size-20{min-width:93px;width:93px;min-height:50px;height:50px;}
.img-3{width:50px;height:50px;}
.pos-28{margin-left:-87px;margin-top:60px;}
.size-21{min-width:22px;width:22px;min-height:44px;}
.para-6{margin-top:2.33pt;margin-bottom:-2.33pt;text-align:center;}
.pos-29{margin-left:18px;margin-top:3px;}
.size-22{min-width:420px;width:420px;min-height:116px;}
.pos-30{margin-left:33px;}
.size-23{min-width:385px;width:385px;min-height:47px;}
.font-9{font-size:20.25pt;line-height:26.20pt;}
.font-10{font-size:12.00pt;line-height:15.53pt;}
.pos-31{margin-top:10px;}
.size-24{min-width:420px;width:420px;min-height:59px;}
.pos-32{margin-top:-150px;}
.pos-33{margin-left:13px;}
.size-25{min-width:458px;width:458px;min-height:75px;}
.pos-34{margin-top:0;}
.size-26{min-width:19px;width:19px;min-height:49px;}
.pos-35{margin-left:22px;}
.size-27{min-width:417px;width:417px;min-height:75px;}
.pos-36{margin-left:15px;margin-top:12px;}
.size-28{min-width:456px;width:456px;min-height:98px;}
.size-29{min-width:19px;width:19px;min-height:52px;}
.pos-37{margin-left:19px;}
.size-30{min-width:418px;width:418px;min-height:98px;}
.pos-38{margin-top:42px;}
.pos-39{margin-top:39px;}
.size-31{min-width:480px;min-height:249px;}
.pos-40{margin-top:24px;}
.pos-41{margin-left:5px;margin-top:7px;}
.size-32{min-width:462px;width:462px;min-height:50px;}
.pos-42{margin-left:7px;margin-top:-57px;}
.size-33{min-width:73px;width:73px;min-height:59px;height:59px;}
.img-4{left:7px;width:59px;height:59px;}
.pos-43{margin-top:-168px;}
.pos-44{margin-left:11px;}
.size-34{min-width:462px;width:462px;min-height:223px;}
.pos-45{margin-left:140px;margin-top:37px;}
.size-35{min-width:200px;width:200px;min-height:150px;height:150px;}
.img-5{left:25px;width:150px;height:150px;}
.pos-46{margin-top:7px;}
.size-36{min-width:480px;min-height:111px;height:111px;}
.menu-device{background-color:rgb(1,1,1);display:none;}
}
@media (max-width:479px) {
.pos{margin-top:199px;}
.size{min-width:320px;min-height:32px;}
.size-2{min-width:320px;min-height:16px;height:16px;}
.pos-3{margin-top:-15px;}
.section{min-width:320px;width:320px;}
.pos-4{margin-left:0;}
.size-3{min-width:318px;width:318px;min-height:31px;height:31px;}
.size-4{min-width:78px;width:78px;min-height:31px;height:31px;}
.size-5{min-width:78px;width:78px;min-height:31px;}
.pos-6{margin-top:5px;}
.size-6{min-width:78px;width:78px;min-height:21px;}
.para{margin-top:0.59pt;margin-bottom:-0.59pt;}
.font{font-size:8.25pt;line-height:13.06pt;}
.pos-7{margin-left:2px;}
.pos-8{margin-top:-231px;}
.size-7{min-width:320px;min-height:231px;}
.pos-9{margin-top:18px;}
.size-8{min-width:311px;width:311px;min-height:168px;}
.pos-11{margin-left:80px;}
.size-9{min-width:154px;width:154px;min-height:100px;height:100px;}
.img{width:154px;height:100px;}
.pos-12{margin-left:0;margin-top:5px;}
.size-10{min-width:311px;width:311px;min-height:63px;}
.para-2{margin-top:1.55pt;margin-bottom:-1.55pt;}
.font-2{font-size:12.00pt;line-height:18.63pt;}
.font-3{font-size:15.00pt;line-height:23.29pt;}
.pos-13{margin-top:28px;}
.section-2{min-width:320px;width:320px;}
.pos-14{margin-left:4px;}
.size-11{min-width:312px;width:312px;min-height:183px;}
.font-4{font-size:10.50pt;line-height:15.11pt;}
.font-5{font-size:12.00pt;line-height:17.27pt;}
.pos-15{margin-top:113px;}
.pos-16{margin-top:32px;}
.size-13{min-width:320px;min-height:165px;}
.pos-17{margin-top:12px;}
.pos-18{margin-left:8px;}
.size-14{min-width:243px;width:243px;min-height:49px;}
.para-4{margin-top:1.94pt;margin-bottom:-1.94pt;}
.font-6{font-size:15.00pt;line-height:23.29pt;}
.pos-19{margin-top:-132px;}
.pos-20{margin-left:6px;}
.size-15{min-width:307px;width:307px;min-height:335px;}
.pos-21{margin-left:215px;}
.size-16{min-width:92px;width:92px;min-height:136px;height:136px;}
.img-2{left:0;width:92px;height:92px;top:22px;}
.pos-22{margin-left:0;margin-top:-90px;}
.size-17{min-width:303px;width:303px;min-height:289px;}
.para-5{text-align:justify;}
.font-7{font-size:12.00pt;line-height:18.63pt;}
.font-8{font-size:10.50pt;line-height:15.11pt;}
.pos-23{margin-top:76px;}
.pos-24{margin-top:31px;}
.size-18{min-width:320px;min-height:202px;}
.pos-25{margin-top:14px;}
.pos-26{margin-left:6px;}
.size-19{min-width:305px;width:305px;min-height:170px;}
.pos-27{margin-top:0;}
.size-20{min-width:98px;width:98px;min-height:87px;height:87px;}
.img-3{left:6px;width:87px;height:87px;}
.pos-28{margin-left:-94px;margin-top:98px;}
.size-21{min-width:15px;width:15px;min-height:20px;}
.para-6{margin-top:1.94pt;margin-bottom:-1.94pt;}
.pos-29{margin-left:6px;margin-top:6px;}
.size-22{min-width:280px;width:280px;min-height:164px;}
.pos-30{margin-left:75px;}
.size-23{min-width:202px;width:202px;min-height:70px;}
.font-9{font-size:13.50pt;line-height:17.47pt;}
.font-10{font-size:10.50pt;line-height:13.59pt;}
.pos-31{margin-top:14px;}
.size-24{min-width:280px;width:280px;min-height:80px;}
.pos-32{margin-top:0;}
.pos-33{margin-left:8px;}
.size-25{min-width:300px;width:300px;min-height:71px;}
.pos-34{margin-top:0;}
.size-26{min-width:13px;width:13px;min-height:20px;}
.pos-35{margin-left:10px;}
.size-27{min-width:277px;width:277px;min-height:71px;}
.pos-36{margin-left:8px;margin-top:30px;}
.size-28{min-width:303px;width:303px;min-height:84px;}
.size-29{min-width:13px;width:13px;min-height:20px;}
.pos-37{margin-left:15px;}
.size-30{min-width:275px;width:275px;min-height:84px;}
.pos-38{margin-top:34px;}
.pos-39{margin-top:32px;}
.size-31{min-width:320px;min-height:166px;}
.pos-40{margin-top:11px;}
.pos-41{margin-left:8px;margin-top:6px;}
.size-32{min-width:308px;width:308px;min-height:23px;}
.pos-42{margin-left:9px;margin-top:-29px;}
.size-33{min-width:63px;width:63px;min-height:59px;height:59px;}
.img-4{left:2px;width:59px;height:59px;}
.pos-43{margin-top:-85px;}
.pos-44{margin-left:12px;}
.size-34{min-width:308px;width:308px;min-height:234px;}
.pos-45{margin-left:109px;margin-top:26px;}
.size-35{min-width:103px;width:103px;min-height:72px;height:72px;}
.img-5{left:16px;width:72px;height:72px;}
.pos-46{margin-top:37px;}
.size-36{min-width:320px;min-height:74px;height:74px;}
.menu-device{background-color:rgb(2,2,2);display:none;}
}
